<!DOCTYPE html>
<html >
<head th:fragment="header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lyra project</title>

    <link href="../../../resources/styles/bootstrap.css" th:href="@{/resources/styles/bootstrap.css}" rel="stylesheet" />
    <link href="../../../resources/styles/dashboard.css" th:href="@{/resources/styles/dashboard.css}" rel="stylesheet" />
    <link href="../../../resources/styles/dtree.css" th:href="@{/resources/styles/dtree.css}" rel="stylesheet" />
</head>

<body>
</body>
</html>