<!DOCTYPE html>
<html >
<head th:fragment="header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lyra project</title>

    <link href="../../../resources/styles/bootstrap.css" th:href="@{/resources/styles/bootstrap.css}" rel="stylesheet" />
    <link href="../../../resources/styles/dashboard.css" th:href="@{/resources/styles/dashboard.css}" rel="stylesheet" />
    <link href="../../../resources/styles/dtree.css" th:href="@{/resources/styles/dtree.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/resources/lib/jquery-3.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/lib/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
</head>

<body>
</body>
</html>