<!DOCTYPE html>
<html>
<head th:replace="fragments/header::header">
<meta charset="UTF-8">
<title>Make decision tree</title>
</head>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(function () {
	    var token = $("input[name='_csrf']").val();
	    var header = "X-CSRF-TOKEN";
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	});
	
	$("#make_model_form").submit(function(event) {
		enableMakeModelButton(true);
		event.preventDefault();
		makeModelAjax();
	});
	
	$("#listFiles").on("show.bs.modal", function(e) {
	    clearListFilesTable();
	    getFilesList();
	});
	
	$("#filesListBody").on('click','tr',function(e){
	    var id = $(this).text();
	    $("#fileName").text(id);
	    $("#fileName").val(id);
	    $(".input-group .form-control").text(id);
	    $("#closeBtn").click();
	});
});


function clearListFilesTable(){
    $("#filesListBody").html("");
}



function getFilesList(){
    var ctx = [[@{/}]];
        $.ajax({
            type : "GET",
            contentType : "application/json",
            url : ctx+"dashboard/decision/tree/files/list",
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                data.forEach(function(item, i, arr) {
                    $("#filesListBody").append("<tr><td>"+item+"</td></tr>")
                });
            },
            error : function(e) {
                console.log("ERROR: ", e);
            },
            done : function(e) {
                console.log("DONE");
            }
        });
}

function enableMakeModelButton(flag) {
	$("#btn_send").prop("disabled", flag);
}

function makeModelAjax() {
	var data = {}
	data["data"] = $("#data").val();
	data["categoryAttr"] = $("#categoryAttr").val();
	data["ignoredAttr"] = $("#ignoredAttr").val();
	data["fileName"] = $("#fileName").val();
	var ctx = [[@{/}]];
	$.ajax({
		type : "POST",
		contentType : "application/json",
		url : ctx+"dashboard/decision/tree/makeModel",
		data : JSON.stringify(data),
		dataType : 'json',
		timeout : 100000,
		success : function(data) {
		    enableMakeModelButton(false);
		    $("#displayTree").html(treeToHtml(data))
		},
		error : function(e) {
	        enableMakeModelButton(false);
			console.log("ERROR: ", e);
		},
		done : function(e) {
	        enableMakeModelButton(false);
			console.log("DONE");
		}
	});
}

	function treeToHtml(tree) {
	    // only leafs containing category
	    if (tree.category) {
	        return  ['<ul>',
	                    '<li>',
	                        '<a href="#">',
	                            '<b>', tree.category, '</b>',
	                        '</a>',
	                    '</li>',
	                 '</ul>'].join('');
	    }
	    
	    return  ['<ul>',
	                '<li>',
	                    '<a href="#">',
	                        '<b>', tree.treeAttr, ' ', tree.predicate, ' ', tree.value, ' ?</b>',
	                    '</a>',
	                    '<ul>',
	                        '<li>',
	                            '<a href="#">yes</a>',
	                            treeToHtml(tree.match),
	                        '</li>',
	                        '<li>', 
	                            '<a href="#">no</a>',
	                            treeToHtml(tree.noMatch),
	                        '</li>',
	                    '</ul>',
	                '</li>',
	             '</ul>'].join('');
	}
</script>
<body>
    <div th:replace="fragments/dashboard/navbar"/>

    <div class="container-fluid">
      <div class="row">
        <div th:replace="fragments/dashboard/sidebar"/>
         
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Decision tree sample</h1>
          <h4>Next section provide simple example of decision tree learning:</h4>
           <ul>
            <li>Input data in csv format(first row must contain attributes names) or choose previously downloaded file</li>
            <li>Fill category attribute</li>
            <li>Fill ignored attribute if it necessary</li>
           </ul>
          <h2 class="sub-header">Data for building decision model</h2>
          <form id="make_model_form" th:action="@{/dashboard/decision/tree/makeModel}" th:object="${csvData}" method="post">
             <textarea class="form-control" name="data" id="data" rows="10" cols="70" th:field="*{data}" placeholder="Enter data"></textarea>
             <p></p>
             <div class="row placeholders">
                <div class="input-group col-md-12">
                    <div class="col-md-2">
                      <span class="input-group-btn">
                        <span class="btn btn-primary" data-toggle="modal" data-target="#listFiles">Choose file</span>
                        <input type="text" name="fileName" id="fileName" style="display: none;"  th:object="${fileName}"></input>
                      </span>
                    </div>
                    <div class="col-md-10"> 
                        <span class="form-control"></span>
                    </div>
                </div>
             </div>
             <div class="row placeholders">
             	<div class="col-md-6">
             		<input type="text" class="form-control" name="categoryAttr" th:object="${categoryAttr}" id="categoryAttr" placeholder="Enter category attribute"></input>
             	</div>
             	<div class="col-md-6">
             		<input type="text" class="form-control" name="ignoredAttr" th:object="${ignoredyAttr}" id="ignoredAttr" placeholder="Enter ignored attribute"></input>
             	</div>
             </div>
             <button type="submit" class="btn btn-default" id="btn_send">Make model</button>
              <input id="_csrf" type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
           </form>
           <div class="tree" id="displayTree"></div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="listFiles" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Choose files</h4>
            </div>
            <div class="modal-body">
            <table class="table table-striped" id="filesList">
              <thead>
                <tr>
                  <th>File name</th>
                </tr>
              </thead>
             <tbody id="filesListBody">
              </tbody>
            </table>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">Close</button>
              <button type="submit" class="btn btn-default save_edit" >Save</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</body>
</html>