<html lang ="en">
<head th:replace="fragments/header::header">
</head>

<body>
<link href="../../../resources/styles/homepage.css" th:href="@{/resources/styles/homepage.css}" rel="stylesheet" />
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Lyra</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a th:href="@{/login}">Sign in</a></li>
                <li><a href="./registration">Registration</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">LYRA PROJECT</h1>
            <p class="lead">Usage modern data collective intelligence algorithm now</p>
            <p class="lead">
              <a th:href="@{/dashboard/decision/tree/}" class="btn btn-lg btn-default">Try it</a>
            </p>
          </div>

          <div th:replace="fragments/footer::footer">
          </div>
        </div>
      </div>
    </div>
    
</body>
</html>